<section class="ftco-section ftco-no-pt ftco-no-pb py-5 bg-light">
    <div class="container py-4">
      <div class="row d-flex justify-content-center py-5">
        <div class="col-md-12 d-flex align-items-center">
          <form action="{% url 'search' %}" method='get' class="subscribe-form">
            <div class="form-group d-flex">
              <input type="text" name='keywords' class="form-control" placeholder="Search Product">
              <input type="submit" value="Search" class="submit px-3">
            </div>
          </form>
        </div>
      </div>
    </div>
  </section>